@import '../../styles/color';

:host {
  display: block;
  background: #fff;
  margin: 16px 16px 0;
  height: calc(100% - 16px);
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.page-content--padding {
  padding: 16px;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $grey-6;

  .page-header__left {
    display: flex;
  }

  .page-title {
    font-weight: 300;
    color: $grey-1;
    font-size: 18px;
    padding: 15px;
  }

  .page-icon {
    font-size: 20px;
    padding: 16px 1px 16px 16px;
    color: $secondary;
  }
}