$grey-1: #333333;
$grey-2: #4F4F4F;
$grey-3: #828282;
$grey-4: #BDBDBD;
$grey-5: #E4E6EA;
$grey-6: #EEF0F3;
$grey-7: #F5F6FA;
$grey-8: #FAFAFA;

$red: #EB5757;
$green: #6FCF97;
$blue: #56A7F2;
$orange: #F2994A;

$error: $red;
$success: $green;
$info: $blue;
$warn: $orange;

$primary: #2F80ED;
$secondary: #7575F0;