<div class="side-bar slide-in-left">
  <div class="side-menu-container">
    <ul class="side-menu">
      <li class="menu-category" *ngFor="let menuCategory of menuCategories" [class.menu-category--expanded]="activeMenuItemCategoryId == menuCategory.id">
        <a class="menu-category__link" [routerLink]="menuCategory.menuItems[0].route">
          <i class="menu-category__icon fas fa-{{ menuCategory.fontAwesomeIconName }}"></i>
          <span class="menu-category__text">{{ menuCategory.categoryLabel }}</span>
          <ul class="menu-category-items" [style.height.px]="activeMenuItemCategoryId == menuCategory.id ? menuCategory.menuItems.length * 47 : 0">
            <li *ngFor="let menuItem of menuCategory.menuItems" class="menu-item" [class.menu-item--active]="activeMenuItemChildId == menuItem.id">
              <a class="menu-item__link" [routerLink]="menuItem.route">
                <i class="menu-item__icon fas fa-{{ menuItem.fontAwesomeIconName }}"></i>
                <span class="menu-item__text">{{ menuItem.label }}</span>
              </a>
            </li>
          </ul>
        </a>
      </li>
    </ul>
  </div>
  <div class="minimize">

  </div>
</div>