@import '../../../../../blade/styles/color';
@import '../../../../../blade/styles/font';

$side-bar-width: 260px;
$side-bar-bg: #fff;

:host {
  display: block;
}

.side-bar {
  height: calc(100vh - 65px);
  width: $side-bar-width;
  border-right: 1px solid $grey-6;
  background-color: $side-bar-bg;
  overflow-y: auto;
}

.side-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  .menu-item {
    margin: 0;
    padding: 0;
    display: flex;
    transition: .1s ease all;

    &__link {
      flex-grow: 1;
      text-decoration: none;
    }

    &__icon {
      padding: 24px 16px 24px 24px;
      font-size: 18px;
      color: $grey-4;
    }

    &__text {
      color: $grey-2;
      font-size: $font-size-default;
    }

    &:hover {
      background-color: $grey-7;
    }
  }
}

.icon__red {
  color: #EB5757;
}