@import '../../../../../blade/styles/color';
@import '../../../../../blade/styles/font';

$side-bar-width: 260px;
$side-bar-bg: #fff;

:host {
  display: block;
}

.side-bar {
  height: calc(100vh - 65px);
  width: $side-bar-width;
  border-right: 1px solid $grey-6;
  background-color: $side-bar-bg;
  overflow-y: auto;
}

.side-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  .menu-category {
    margin: 0;
    padding: 0;
    display: flex;

    &__link {
      flex-grow: 1;
      text-decoration: none;
    }

    &__icon {
      padding: 18px 16px 18px 24px;
      font-size: 18px;
      color: $grey-3;
    }

    &__text {
      color: $grey-2;
      font-size: $font-size-default;
    }

    &:not(.menu-category--expanded):hover {
      background-color: $grey-7;
    }

    .menu-category-items {
      height: 0px;
      overflow: hidden;
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      transition: .2s ease-in all;
      flex-direction: column;

      .menu-item {
        border-left: 4px solid $grey-4;
        flex-grow: 1;
        display: flex;

        &--active {
          border-left-color: $secondary;
          background-color: $grey-5;

          .menu-item__text {
            font-weight: bold;
          }
        }
      }

      .menu-item__link {
        flex-grow: 1;
        text-decoration: none;
      }
  
      .menu-item__icon {
        padding: 16px 16px 16px 24px;
        font-size: 15px;
        color: $grey-3;
      }
  
      .menu-item__text {
        color: $grey-2;
        font-size: $font-size-default;
      }
    }

    &--expanded {
      background-color: $grey-6;
      
      .menu-category__text {
        font-weight: bold;
      }
      
      .menu-category__icon {
        padding-left: 20px;
        border-left: 4px solid $grey-4;
        color: $secondary;
      }
    }
  }
}
